<div class="dog">

  <h1>Chose Dog List</h1>

  <select class="dog-list">
    <%= @breeds_list.each do |breed_name, value| %>
      <option> <%= breed_name %> </option>
    <% end %>
  </select>

  <h3><%= @breed.name.humanize %></h3>

  <%= image_tag @breed.pic_url %>
  <div class="loader"></div>

</div>
